.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}


.navi {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 60px;
    background-color: #ffffff;
    z-index: 9999;
}

.container h3 {
    text-align: center;
}

.footer {
    border-top-color: #e7e7e7;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
}

.profile{
    display: block;
    margin-bottom: 25px;
}

.profile_container {
    display: block;
    position: relative;
/*    background-color: #f6ebf9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}

.image_wrapper {
    display: block;
    height: 235px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.profile_pic {
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    margin-top: 0px;
}

.profile_text {
    text-align: center;
    /*border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0px 5px 5px #888888;
    background-color: #f6ebf9;*/
    z-index: 12;
    padding-top: 10px;
    padding-bottom: 10px;
}


.slide {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 40px;
}

.slides {
    min-height: 100vh;
    margin: 0;
    padding: 60px 0px 60px 0px;
    overflow: hidden;
    background-color: #ffffff;
}

#slideshow {
    transition: .25s linear;
}

.profile_box {
    height: 450px;
}

.summary_box {
    height: 385px;
}

.image_slide {
    max-height: 300px;
}

.message_output {
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: black;

}

.message_input {
    background-color: #ffffff;
    width: 100%;
    height: 150px;
    z-index: 999;
}

.message_input_box {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.message_input_btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.view_message {
    height: 100%;
    padding-bottom: 150px;
}

.exchange_container {
    height: 100px;


}

.exchange_image {
    float: left;
}

.exchange_message {
    float:left;
    margin-left: 20px;
}

.exchange_row {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.exchange_contents {
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    padding: 10px;
}

.navbar-fixed-top {
    background-color: #ffffff;
}

.mySlides {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}


/* profile section */

.profile_card {
    margin-top: 25px;
    width: 750px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.profile_card_image {
    height: 200px;
}


.profile_card_image img {
    /*border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 10%;*/
    max-width: 200px;
    width: auto;
    max-height: 200px;

}

.profile_card_id h2{
    padding-top: 20px;
    font-size: 24px;
}

.send_message {
    margin-top: 15px;
}

.message_textarea {
    margin-top: 5px;
}

.profile_summary {
    width: 750px;
    margin-left: auto;
    margin-right: auto;


}

.p_content {
    min-height: 300px;
}

.info_card {
    border-color: black;
    border-style: dotted;
    border-width: 1px;
    border-radius: 5%;
    margin-top: 10px;
}

.info_card table {
    width: 100%;
    font-size: 14px;
}

#About h4 {
    margin-top: 25px;
}

#msgModal {
    position: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    width: 550px;
    height: 380px;
    background-color: #ffffff;

}

#msgModal2 {
    position: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    width: 550px;
    height: 380px;
    background-color: #ffffff;

}

.photo_view {
    margin-top: 25px;
}

#outbox {
    padding: 20px;
}

#inbox {
    padding: 20px;
}