<div class="container" style="text-align: center;">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <br><br><br><br><br><br><br><br>
    <img src="/site/img/about.png">
    <br><br>
    
  </div>
  
  
  <br><br>
  <h3>KtownCupid is a matchmaking site for single Koreans</h3>
  <br><br>
  <p class="hero-unit">We felt the need to create a curated community of singles because there just isn't a great matchmaking site for Korean Americans and Koreans in Los Angeles.</p><p>The site started out as a small project but is now a full-time effort by a group of passionate individuals who want to make this work.</p>
  <br><br>
  <p><a href="/user/register" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
  <br><br><br>

</div> <!-- /container -->