<div class="container" style="text-align: center;">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <br><br><br><br><br><br><br><br>
    <img src="/site/img/about.png">
    <br><br>
    
  </div>
  
  
  <br><br>
  <h3>KtownCupid is a place for singles to mingle in Los Angeles</h3>
  <br><br>
  
  <p>Our vision is to provide a safe and vibrant community of asians to find their soulmate.</p>
  <!-- <p>And even if you don't find one, we believe you will find interesting individuals here who can be a great partner or friend.</p> -->
  <p>We are currently only open to Los Angeles area for now.</p>
  <p>You may contact us at contact@ktowncupid.com if you wish to operate for us in other cities.</p>
  <br><br>
  <p><a href="/user/register" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
  <br><br><br>

</div> <!-- /container -->