  <div class="col-md-9">
    <h1 style="margin-top: 10%;">What is your job function?</h1>
    <br>
    <p style="font-size: 24px;">(Choose as many as you like)</p>
    <br>
  </div>



  <div class="col-md-5">
    <div class="check_box">
      <input class="input_type" type="checkbox" value="executive_strategic_it">&nbsp;Executive / Strategic IT
      <br>
    </div>
    <div class="check_box">
      <input type="checkbox">&nbsp;Functional IT / Compliance Lead
      <br>
    </div>
    <div class="check_box">
      <input type="checkbox">&nbsp;Please Specify Job function
      <br>
    </div>


    <h4 style="font-size: 23px; color: red;">Please type in your job function to continue</h4>

  </div>

<br>
