<div class="col-md-11">
  <h2 style="margin-top: 10%; font-size: 42px; color: #024c64">Organizations must conduct continuous monitoring and vulnerability detection
  across all systems and compo- nents-including unmanaged devices/endpoints to comply with NIST Control CA-7.  How important is it to discover
  that an LoT device is on your network?</h2>
  <br>
</div>
<br>
<div class="col-md-8">
  <div class="col-md-6 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Unimportant</h3>
  </div>
  <div class="col-md-6 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Slightly Important</h3>
  </div>
  <div class="col-md-6 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Moderately Important</h3>
  </div>
  <div class="col-md-6 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Very Important</h3>
  </div>
  <div class="col-md-6 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Extremely Important</h3>
  </div>
  <div class="col-md-6 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Please Specify</h3>
  </div>
  <br>
</div>



<br>
