<div class="col-md-12" style="margin-top: 5%;">
  <span style="font-size: 72px;">Thank you </span><span style="font-size: 42px;"> for taking the time to share your insights.</span>

  <br>

  <span style="font-size: 30px;">Now it's our turn to share with you.</span>
  <br>
</div>
<br>

<div class="col-md-12" style="margin-top: 3%;">
  <span style="font-size: 24px;"><strong>DOWNLOADS </strong></span><span style="font-size: 24px;"> (As many as you'd like)</span>
  <div class="col-md-12 check_box">
    <h3 >&nbsp; □ &nbsp;For your Device Visibility Snapshot</h3>
  </div>
  <div class="col-md-12 check_box">
    <h3>&nbsp; □ &nbsp;loT Security Survey Results</h3>
  </div>
  <div class="col-md-12 check_box">
    <h3>&nbsp; □ &nbsp;Continuous Monitoring and Threat Mitigation Report</h3>
  </div>
</div>

<div class="col-md-12" style="margin-top: 1%;">
  <span style="font-size: 24px;"> FREE DEMO</span>
  <div class="col-md-12 check_box">
    <h3>&nbsp; □ &nbsp;See how ForeScout is transforming security through visibility.  Experieince a FREE ForeScout CounterAct Demo</h3>
  </div>
</div>

<div class="col-md-12" style="margin-top: 1%;">
  <span style="font-size: 24px;"> CONVERSATION</span>
  <div class="col-md-12 check_box">
    <h3>&nbsp; □ &nbsp;Set up a face to face conversation with one of our sales enginners or channel partners</h3>
  </div>
</div>

<div class="col-md-12" style="margin-top: 1%;">
  <span style="font-size: 24px;"> MORE CONVINCING</span>
  <div class="col-md-12 check_box">
    <h3>□ See what our customers are saying</h3>
  </div>
  <div class="col-md-12 check_box">
    <h3>□ See what industry analysts are saying</h3>
  </div>
</div>

<div class="col-md-12" style="margin-top: 1%;">
  <span style="font-size: 24px;">Which IT cyber security framework is implemented by your organization? (you can select more than one)</span>
  <div class="col-md-3 check_box">
    <h3>&nbsp; □ &nbsp;HIPPA</h3>
  </div>
  <div class="col-md-3 check_box">
    <h3>&nbsp; □ &nbsp;NIST</h3>
  </div>
  <div class="col-md-3 check_box">
    <h3>&nbsp; □ &nbsp;PCI</h3>
  </div>
  <div class="col-md-3 check_box">
    <h3>&nbsp; □ &nbsp;SANS/CRC</h3>
  </div>
  <div class="col-md-3 check_box">
    <h3>&nbsp; □ &nbsp;ISO / 2700 Series</h3>
  </div>
  <div class="col-md-3 check_box">
    <h3>&nbsp; □ &nbsp;COBIT</h3>
  </div>
  <div class="col-md-3 check_box">
    <h3>&nbsp; □ &nbsp;IASME</h3>
  </div>
</div>

<div class="col-md-12" style="margin-top: 1%;">
  <span class="col-md-12" style="font-size: 24px; padding-left: 0px;">Please provide your name and corporate email address</span>
  <div class="col-md-4" style="margin-top: 1%; padding-left: 0px;">
    <label style="font-size: 1em;">First Name</label><br>
    <input style="height: 65px; width: 100%;">
  </div>
  <div class="col-md-4" style="margin-top: 1%; padding-left: 0px;">
    <label style="font-size: 1em;">Last Name</label><br>
    <input style="height: 65px; width: 100%;">
  </div>
  <div class="col-md-4" style="margin-top: 1%; padding-left: 0px;">
    <label style="font-size: 1em;">Corporate Email Address</label><br>
    <input style="height: 65px; width: 100%;">
  </div>

</div>

<br>
<div class="col-md-3 col-md-offset-9" style="margin-top: 3%; padding-right: 30px;">
  <btn class="btn btn-success btn-lg" style="float: right; width: 230px; height: 65px;">FINISH</btn>

</div>