<div class="col-md-11">
  <h2 style="margin-top: 10%;">What describes most accurately your company's primary
  approach to ensuring NIST IR-4 - INCIDENT HANDLING and Response Management securing all (including loT) devices on your network?</h2>
  <br>
</div>

<div class="col-md-10">
  <div class="col-md-6 check_box">
    <h3 style="font-size: 1.8em;">&nbsp; □ &nbsp; We have a password on our network</h3>
  </div>
  <div class="col-md-6 check_box">
    <h3 style="font-size: 1.8em;">&nbsp; □ &nbsp;We rely on industry or manufacturer standard methods</h3>
  </div>
</div>

<div class="col-md-10">
  <div class="col-md-6 check_box">
    <h3 style="font-size: 1.8em;">&nbsp; □ &nbsp;Nothing I'm aware of</h3>
  </div>
  <div class="col-md-6 check_box">
    <h3 style="font-size: 1.8em;">&nbsp; □ &nbsp;We have another approach</h3>
  </div>

</div>
<div class="col-md-10">
  <div class="col-md-6 check_box">
    <h3 style="font-size: 1.8em;">&nbsp; □ &nbsp;We have a specialized agent that monitors our network</h3>
  </div>
  <div class="col-md-6 check_box">
    <h3 style="font-size: 1.8em;">&nbsp; □ &nbsp;I don't know</h3>
  </div>

</div>
<div class="col-md-12">
  <br>
  <p style="font-size: 2.3em; color: #024c64"><strong>30%</strong> of organizations use the same approach</p>


</div>


<br>
