<div class="col-md-11">
  <h1 style="margin-top: 10%;">How important is it to discover an loT device on your network?</h1>
  <br>
</div>
<br>
<div class="col-md-12">
  <div class="col-md-4 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Unimportant</h3>
  </div>
  <div class="col-md-4 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Slightly Important</h3>
  </div>
  <div class="col-md-4 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Moderately Important</h3>
  </div>
</div>

<div class="col-md-12" style="margin-top: 10px;">
  <div class="col-md-4 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Very Important</h3>
  </div>
  <div class="col-md-4 check_box">
    <h3 style="font-size: 2em;">&nbsp; □ &nbsp; Extremely Important</h3>
  </div>
  <br>
</div>
<div class="col-md-12" style="margin-top: 10px;">
  <br>
    <p style="font-size: 36px; color: #024c64"><strong>89%</strong> think it is important to DISCOVER loT devices</p>


</div>


<br>
