<div class="col-md-7">
  <h1 style="margin-top: 10%;">Which industry best characterizes your organization?</h1>
  <br>
  <br>
</div>
<br>

<div class="col-md-12">
  <input type="text" class="col-md-5" style="height: 65px; font-size: 24px;" value="Type or Select Option">

</div>


<br>
