<div class="container main_container" style="background-image: url('/work/landing_background.jpg');">
  <div class="col-md-6 col-md-offset-6" style="margin-top: 25px; padding: 0;">
    <h1 style="font-size: 72px; color: #ffffff;">Device Visibility Assessment</h1>
    <p style="font-size: 24px; color: #ffffff;">If you can’t see an unauthorized or noncompliant device on your network, you control it. Conventional security solutions are only capable of seeing devices that are equipped with agents-- ok if all devices were easily seen and managed by IT security. But they're not.  Networks are being bombarded by agentless IoT and BYOD devices connecting and expanding the attack surface...invisibly... giving attackers a sense of invincibility. The key is how to make the invisible visible.

    <p style="font-size: 24px; color: #ffffff;">Start by understanding your level of exposure to invisible attacks by taking a few minutes fill out our Device Visibility Assessment
    to help your see what you may not be seeing before it's too late.</p>
    <br>
    <div class="text-center">
      <btn class="btn btn-success btn-lg forescout-btn" >START</btn>
      <br>

      <p style="font-size: 16px; color: #ffffff;">Press <strong>Enter</strong></p>

    </div>
  </div>
</div>
