<div class="table-full">
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
      <tr>
        <th><input type="checkbox" class="select-all" id="selectAll"></th>
        <th>User ID</th>
        <th>Gender</th>
        <th>Summary</th>
        <th>Pictures</th>
      </tr>
      </thead>
      <tbody>

        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><%= @identity[:user_id] %></td>
          <td><%= @identity[:gender] %></td>


        </tr>





      </tbody>
    </table>
  </div>
</div>