<div id="slideshow" style="transform: matrix(1, 0, 0, 1, 0, 0)">
  <div class="slide1 slide">
    <div class="container">
      <form action="/user/import" method="POST">
        <input type="file" name="csv">
        <button>Upload</button>
      </form>
    </div>
  </div>
</div>