<div id="slideshow" class="view_message">
  <div class="message_input">
    <div class="message_input_box">
      <label>Send them a nice message!</label>
      <textarea rows="4" class="form-control message_textarea"></textarea>
      <div class="message_input_btn">
        <button class="trigger_comment" type="submit" send_to_id="<%= @send_to_id %>">Send</button>
      </div>
      <% @related_messages.each do |message| %>
      <div class="row exchange_row">
        <div class="col-md-2">
          <div class="exchange_image" style="height: 100px; width: 100px;">
            <% @picture = Picture.where(:user_id => message[:user_id], :main_pic => true).first %>
            <img src="<%= @picture[:image_url] %>" alt="user_image" style="width: 100%; height: 100%; border-radius: 50%;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="exchange_message">
            <p><%= message[:content] %></p>
          </div>
        </div>
        <div class="col-md-3" style="margin-left: 0px;">
          <div class="exchange_date">
            <p><%=message[:sent_date].strftime("%d/%m/%Y %H:%M")%></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
  $('.next').on('click', function(){
    index++;
    slide(index)
  })

  $('.prev').on('click', function(){
    index--;
    slide(index)
  })

  $('.trigger_comment').on('click', function(e){
    e.preventDefault();
    $this = $(this)
    var content = $('.message_textarea').val()
    console.log("this is the content: ", content)
    var send_to_id = $this.attr('send_to_id')
    var data = {send_to_id: send_to_id, content: content};
    console.log(send_to_id, content);
    $.post('/message_input', data, function(res){
      console.log(res);
      location.reload()
    })
  })

  /*setInterval(function(){
    $("#trigger").load(location.href + " #trigger")
  }, 3000)*/

})
</script>