<div class="field row" id="field_open_slots">
  <div class="">
    <form role="form" method="POST" class="form-horizontal blog-input" id="form1" action="/login">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="name-input" type="text" name="username">
      </div>
      <div class="form-group">
        <label for="last_name">Password</label>
        <input class="name-input" type="text" name="password">
      </div>
      <div class="user-button">
        <button type="submit" form="form1" value="Submit">Submit</button>
      </div>
    </form>
    <!-- /.form-group -->
  </div>
  <!-- /.col -->
</div>