<form role="form" method="POST" id="profile_input" action="/profile_save">
  <label class="label">Write a short summary about your life so far...</label>
  <p class="control">
    <textarea class="textarea" placeholder="Your summary here..." name="self_summary"></textarea>
  </p>
  <label class="label">What's going on in your life now?</label>
  <p class="control">
    <textarea class="textarea" placeholder="What's going on?" name="life_current"></textarea>
  </p>
  <label class="label">What do you feel are your strengths?</label>
  <p class="control">
    <textarea class="textarea" placeholder="Strength" name="strength"></textarea>
  </p>
  <label class="label">Weakness?</label>
  <p class="control">
    <textarea class="textarea" placeholder="Weakness" name="weakness"></textarea>
  </p>
  <label class="label">What is something you have done that you are very proud of?</label>
  <p class="control">
    <textarea class="textarea" placeholder="Your Pride" name="pride"></textarea>
  </p>
  <label class="label">What are your favorite movies, books, tv shows, music, etc...?</label>
  <p class="control">
    <textarea class="textarea" placeholder="Few of your Favorite Things" name="favorites"></textarea>
  </p>
  <label class="label">What do you typically do with your free time?</label>
  <p class="control">
    <textarea class="textarea" placeholder="Have any routines?" name="routine"></textarea>
  </p>
  <label class="label">Anything in particular you think about?  Day dream about?</label>
  <p class="control">
    <textarea class="textarea" placeholder="Daydream?" name="dream"></textarea>
  </p>
  <label class="label">What are you looking for from your potential date?</label>
  <p class="control">
    <textarea class="textarea" placeholder="List your demands" name="looking_for"></textarea>
  </p>
  <p class="control">
    <button class="button is-primary">Submit</button>
    <button class="button is-link">Cancel</button>
  </p>




</form>