<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


<div class="container-fluid">
  <div class="row" style="height: 60px; background-color: #00adf2;">
    <img src="/work/forescout-social.png" alt="social network" style="float: right;">


  </div>

  <div class="row" style="height: 100px; background-color: #ffffff;">
    <div class="container w1170" style="height: 100px; width: 1170px;">
      <div class="logo" style="height: 100px; ">
        <img src="/work/forescout-logo.png" alt="forescout" style="position: relative; top: 30%;">
      </div>


    </div>



  </div>

  <div class="row" style="height: 791px; background-color: #dcdcdc;">
    <div class="container w1170" style="height: 100%; width: 1170px;">



    </div>


  </div>

  <div class="row" style="height: 80px; background-color: #024c64;">
    <div class="container w1170" style="height: 100px; width: 1170px;">
      <div class="col-md-7" style="line-height: 80px; color: white; display: inline-block;">
        ©2016 ForeScout Technologies Inc. All rights reserved. Terms of Use and Privacy Policy
      </div>
    </div>

  </div>




</div>