<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">


<div class="container-fluid">
  <div class="row" style="height: 60px; background-color: #00adf2;">
    <div class="social_container" style="width: 560px; float: right;">
      <a href=""><img src="/work/forescout-social-contactus.png" alt="contact us"></a>
      <a href=""><img src="/work/forescout-social-linkedin.png" alt="linkedin"></a>
      <a href=""><img src="/work/forescout-social-twitter.png" alt="twitter"></a>
      <a href=""><img src="/work/forescout-social-facebook.png" alt="facebook"></a>
      <a href=""><img src="/work/forescout-social-square.png" alt="square"></a>
      <a href=""><img src="/work/forescout-social-youtube.png" alt="youtube"></a>

    </div>



  </div>

  <div class="row" style="height: 100px; background-color: #ffffff;">
    <div class="container w1170" style="height: 100px; width: 1170px; padding-left: 0px;">
      <div class="logo" style="height: 100px; ">
        <img src="/work/forescout-logo.png" alt="forescout" style="position: relative; top: 30%;">
      </div>


    </div>



  </div>

  <div class="row" style="min-height: 668px; background-color: #dcdcdc;">
    <div class="container w1170" style="width: 1170px; position: relative;">

      <%=yield%>

    </div>


  </div>
  <% if params[:id] != "01" && params[:id] != "09" %>
  <div class="row" style="height: 123px; background-color: #dcdcdc;">
    <div class="container button_container" style="width: 1170px;">
      <div class="col-md-6 col-md-offset-6" style="">
        <btn class="btn btn-default btn-lg forescout-btn">PREVIOUS</btn><div style="display: inline-block; width: 60px;"></div><btn class="btn btn-success btn-lg forescout-btn">NEXT</btn>

      </div>
    </div>
  </div>
  <% end %>
  <div class="row" style="height: 80px; background-color: #024c64;">
    <div class="container w1170" style="height: 100px; width: 1170px;">
      <div class="col-md-7" style="line-height: 80px; color: white; display: inline-block;">
        ©2016 ForeScout Technologies Inc. All rights reserved. Terms of Use and Privacy Policy
      </div>
    </div>

  </div>




</div>